.bg {
    background: url(img/bg.jpg) no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.top {
    overflow: hidden;
    padding: 10px;
}
.top .head {
    float: left;
    margin-top: 3px;
}
.top .head a {
    display: block;
}
.top .items {
    overflow: hidden;
    padding-left: 5px;
    font-size: 1.2rem;
    color: #666;
}
.top .items strong {
    line-height: 24px;
    color: #ff8500;
    font-weight: normal;
}
.top .star {
    font-size: 1.4rem;
}
.top .star a {
    display: inline-block;
}
.top .name {
    color: #ff8500;
}
.items dt {
    float: left;
    width: 35%;
    padding: 2px 0;
}
.items dt:nth-of-type(2n) {
    width: 65%;
    text-align: right;
}
.travel-item {
    overflow: hidden;
    position: relative;
    line-height: 24px;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}
.travel-item .station {
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
.travel-item .icon-travel2 {
    float: left;
    display: inline-block;
    width: 40px;
    height: 10px;
    margin: 7px 10px;
    background: url(img/icon-arrow3.png) no-repeat;
}
.travel-item .from, .travel-item .to {
    float: left;
    display: block;
    max-width: 35%;
}
.travel-item select {
    padding-right: 15px;
    font-size: 1.4rem;
    background: url(img/icon-arrow2.png) right center no-repeat;
    background-size: 12px 6px;
}
.travel-item input[type="text"] {
    height: 24px;
    line-height: 24px;
    font-size: 1.4rem;
    background: none;
}
#datetime {
    width: 140px;
}
#treelist {
    display: none;
}
.travel-item .time {
    position: absolute;
    right: 10px;
    top: 50%;
    width: 76px;
    margin-top: -12px;
    font-size: 1.2rem;
    color: #fff;
    background: #ccc;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}
.travel-item .time input[type="radio"] {
    display: none;
}
.travel-item .time-active {
    background: #ff8500;
}
.container button {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 1.6rem;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff8500), color-stop(1, #e55c01));
    background: -ms-linear-gradient(to bottom , #ff8500, #e55c01);
    background: linear-gradient(to bottom, #ff8500, #e55c01);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.msg {
    margin-top: 10px;
    padding: 10px;
    line-height: 1.6;
    font-size: 1.3rem;
    color: #666;
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.msg h2 {
    margin-bottom: 5px;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: center;
}
h3 {
    margin: 10px 0;
    font-size: 1.6rem;
    font-weight: normal;
    text-align: left;
}
.msg li {
    position: relative;
    overflow: hidden;
    padding: 10px 85px 10px 0;
    border-bottom: 1px solid #bbb;
    font-size: 1.2rem;
}
.msg li .head, .msg li .head img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.msg li .head {
    float: left;
    margin-right: 10px;
}
.msg li p:nth-of-type(1) {
    color: #e65e01;
}
.msg .btn {
    position: absolute;
    right: 0;
    top: 15px;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fe8300), color-stop(1, #e65e01));
    background: -ms-linear-gradient(to bottom , #fe8300, #e65e01);
    background: linear-gradient(to bottom, #fe8300, #e65e01);
    text-align: center;
}
.msg .top2 {
    padding: 5px 0 15px 0;
    border-bottom: 1px solid #bbb;
    margin-bottom: 15px;
}
.msg .top {
    padding: 5px 0;
    border-bottom: 1px solid #bbb;
}
.msg .top .head,.msg .top .head img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
}
.msg .items dt, .msg .items dt:nth-of-type(2n) {
    width: 50%;
}
.msg .icon-travel {
    display: inline-block;
    width: 24px;
    height: 10px;
    background: url(img/icon-arrow.png) no-repeat;
}
.map img {
    width: 100%;
}
.bg .container {
    margin: 10px 5px;
}
.travel-item .jsq {
    width: 60px;
    display: inline-block;
}
.travel-item .jsq span {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 14px;
    font-size: 1.6rem;
    color: #fff;
    background: #eb6601;
    text-align: center;
}
.travel-item .jsq label {
    display: inline-block;
    width: 14px;
    text-align: center;
}
.select-station2 {
    position: relative;
    width: 100%;
    padding-left: 20px;
}
.select-station2 .icon-travel2 {
    position: absolute;
    left: -4px;
    top: 8px;
    width: 20px;
    height: 44px;
    margin: 0;
    background: url(img/icon2.png) 0 -12px no-repeat;
}
.select-station2 p {
    height: 30px;
    line-height: 30px;
    padding-left: 25px;
    border-bottom: 1px solid #e5e5e5;
    background: url(img/icon2.png) -36px 10px no-repeat;
}
.select-station2 p:nth-last-of-type(1) {
    border-bottom: none;
    background-position: -36px -46px;
}
.item-txt {
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
/* 魅力值 */
.mlz-top {
    padding: 10px;
    line-height: 2;
    font-size: 1.4rem;
    text-align: center;
}
.mlz-top .head, .mlz-top .head img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.mlz-top .head {
    margin-bottom: 10px;
}
.mlz-top ul {
    overflow: hidden;
    width: 330px;
    margin: 0 auto;
}
.mlz-top li {
    float: left;
    width: 110px;
    text-align: left;
}
@media screen and (max-width: 320px) {
    .mlz-top ul {
        width: 300px;
    }
    .mlz-top li {
        width: 100px;
    }
}
.mlz-top li img {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: -2px;
}
.mlz-list li {
    margin: 10px 0;
    padding: 8px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mlz-list li .head, .mlz-list li .head img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
}
.mlz-list li .head {
    float: left;
}
.mlz-list .praise {
    bottom: 10px;
    top: auto;
}
.mlz-list li .detail {
    position: relative;
    line-height: 1.6;
    padding-left: 90px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 1.2rem;
}
.mlz-list li .name {
    font-size: 1.6rem;
    color: #f36303;
}
.mlz-list li .date {
    color: #888;
}
.reply {
    position: absolute;
    bottom: 10px;
    right: 0;
    z-index: 6;
    width: 34px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    text-indent: -9999px;
    background: #fff url(img/icon-msg.png) center center no-repeat;
    background-size: 26px auto;
}
.mlz-list .reply {
    right: -8px;
    width: 44px;
    padding-right: 10px;
}
/* 行程 */
.xc-top {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    padding: 10px 5px;
    line-height: 2;
    font-size: 1.4rem;
    color: #666;
}
.xc-top .detail {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
.xc-top .detail .name {
    color: #ff8500;
}
.xc-top img {
    width: 84px;
    height: 84px;
}
.xc-list {
    padding: 5px;
    font-size: 1.2rem;
    color: #333;
}
.xc-list li, .com-list li {
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.xc-list li .station {
    position: relative;
    line-height: 1.6;
    padding: 0 50px 8px 135px;
}
.xc-list li .date {
    position: absolute;
    left: 0;
    top: 0;
    color: #f36303;
}
.xc-list li .money {
    position: absolute;
    right: 0;
    top: 0;
    color: #f36303;
}
.xc-list li .peoples {
    overflow: hidden;
    position: relative;
    line-height: 26px;
    padding-left: 50px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
}
.peoples dt {
    position: absolute;
    left: 0;
    top: 0;
}
.peoples dd {
    float: left;
    padding-right: 20px;
    margin-bottom: 5px;
    background: url(img/icon-link.png) 28px center no-repeat;
}
.peoples dd:nth-last-of-type(1) {
    padding-right: 0;
    background: none;
}
.xc-list li .peoples a {
    display: block;
}
.xc-list li .peoples img {
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.comments {
    overflow: hidden;
    padding: 10px 0;
}
.comments .xc-head {
    float: left;
    width: 40px;
}
.comments .xc-head img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.comments .xc-detail {
    padding-left: 50px;
    line-height: 20px;
}
.comments .xc-detail .name, .comments a, .com-list a {
    color: #f36303;
}
.xc-detail ul {
    overflow: hidden;
}
.xc-detail li {
    float: left;
    width: 33.33%;
    padding: 4px;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.xc-detail li img {
    display: block;
    width: 100%;
}
.xc-list li .xc-detail .date, .com-list li .date {
    overflow: hidden;
    position: relative;
    height: 40px;
    line-height: 35px;
    padding-bottom: 10px;
    color: #888;
    border-bottom: 1px solid #e5e5e5;
}
.xc-detail .reply {
    bottom: 2px;
}
.praise {
    position: absolute;
    right: 35px;
    right: -78px;
    top: 2px;
    z-index: 3;
    display: inline-block;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    background: #f36303;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    transition: 500ms ease all;
}
.praise.active {
    right: 35px;
}
.praise a {
    display: inline-block;
    height: 30px;
    padding: 0 5px;
    font-size: 1.2rem;
    color: #fff;
}
.praise i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: url(img/icon-comments.png) 0 -30px no-repeat;
    background-size: 16px 45px;
    -webkit-background-size: 16px 45px;
    vertical-align: middle;
}
.praise .icon-zan {
    background-position: 0 0;
}
.praise-list {
    position: relative;
    overflow: hidden;
    padding: 5px 0 5px 18px;
    background: url(img/icon-praise.png) left center no-repeat;
}
.praise-list a {
    float: left;
    display: block;
    width: 26px;
    margin: 0 3px;
}
.praise-list a img {
    width: 26px;
    height: 26px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.comments-list p {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    background: #f0f0f0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.comments-list p:before {
    position: absolute;
    left: 5px;
    top: -15px;
    content: " ";
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border: 10px dashed transparent;
}
.comments-list p:before {
    border-bottom: 10px solid #f0f0f0;
}
.xc-detail strong {
    color: #f36303;
}
.dw-i div {
    display: none;
}
.mbsc-mobiscroll .dwbw.dwb-c {
    float: left;
}
/* 计费规则 */
.rules {
    margin: 5px;
    padding: 10px;
    line-height: 2;
    font-size: 1.2rem;
    color: #666;
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.rules h3 {
    margin-bottom: 5px;
    font-size: 1.8rem;
    text-align: center;
}
.rules strong {
    color: #f36303;
}
/*确认搭乘按钮*/
.btns {
    overflow: hidden;
    padding: 10px 0;
}
.btns a {
    float: left;
    width: 48%;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fe8300), color-stop(1, #e65e01));
    background: -ms-linear-gradient(to bottom , #fe8300, #e65e01);
    background: linear-gradient(to bottom, #fe8300, #e65e01);
    text-align: center;
}
.btns a:nth-of-type(1){
    margin-right: 4%;
}
.btns a:hover {
    text-decoration: none;
}
/* 车主个人中心 */
.com-list {
    line-height: 1.6;
    padding: 5px;
    font-size: 1.2rem;
    color: #333;
}
.com-list .name {
    margin-bottom: 5px;
    font-size: 1.6rem;
    color: #f36303;
}
.com-list ul {
    overflow: hidden;
}
.img-list li {
    float: left;
    width: 33.33%;
    padding: 4px;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.img-list img {
    display: block;
    width: 100%;
}
.com-list li .reply {
    bottom: 2px;
}
.c-list li {
    overflow: hidden;
    margin-bottom: 0;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    border-radius: 0;
    -webkit-border-radius: 0;
}
.com-list li .c-list .c-reply {
    padding: 10px 0 0 46px;
}
.c-list li .img {
    float: left;
    display: block;
    width: 46px;
    height: 46px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.c-list li .img img {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.c-list li p:nth-last-of-type(1){
    margin-top: 8px;
    color: #888;
}
.c-list li p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#treelist_dummy::-webkit-input-placeholder {
    color: #333;
}
/* 评论弹窗 */
.comments-win {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    padding: 20px 10px;
    background: rgba(0, 0, 0, .8);
}
.comments-win textarea {
    width: 100%;
    height: 50px;
    line-height: 20px;
    padding: 15px 5px;
    font-size: 1.4rem;
    outline: none;
    resize: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    word-wrap: break-word;
}
.comments-win button {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin-top: 10px;
    font-size: 1.6rem;
    color: #fff;
    background: #f36303;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.bg .login {
    margin: 50px 5px 10px;
}
.mbsc-mobiscroll .dwfl {
    padding: 3em .25em 1em;
}
@media screen and (max-width: 320px) {
    .dwfl {
        min-width: 58px!important;
    }
}
@media screen and (min-width: 321px) and (max-width: 384px) {
    .dwfl {
        min-width: 60px!important;
    }
}
@media screen and (min-width: 400px) {
    .dwfl {
        min-width: 70px!important;
    }
}
.mbsc-mobiscroll .dwl {
    font-size: 1.6rem;
    color: #ff8500;
}
.dwhl .dwl {
    display: block;
}
.mbsc-mobiscroll .dwb {
    color: #ff8500;
}
.mbsc-mobiscroll .dwwol {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}