@charset "utf-8";
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,div,p,blockquote,hr,ul,ol,li,h1,h2,h3,h4,h5,h6,menu,dd,dl,form,fieldset,input,textarea,caption,select,button,input,pre,hr,td,th,address,section,article,aside,header,footer,nav,dialog,figure,hgroup,label,span,strong,i,s {
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5 {
    font-weight: normal;
}
em,i,strong {
    font-style: normal;
}
ul,ol,li {
    list-style: none;
}
a:active, a:hover, img {
    outline: 0;
}
a {
    text-decoration: none;
}
html {
    height: 100%;
}
body {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
}
#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f95b9e;
}
#loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 160px;
    height: 95px;
    margin: -47px 0 0 -80px;
}
.section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section a {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    height: 50px;
    line-height: 50px;
    margin-top: 195px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    text-align: center;
}
.section .btn-group {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 8;
    width: 100%;
    padding: 0 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.section .btn-group a {
    position: static;
    width: auto;
    left: auto;
    margin: 0 8px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.index-section {
    background-color: #f95b9e;
    background-image: url(img/index-section.png);
    background-size: 100% auto!important;
}
.second-section {
    background: url(img/second-section.png) center center no-repeat;
    background-color: #fff;
    background-size: 320px auto;
}
.three-section {
    display: block;
    background-color: #f95b9e;
}
.three-section a {
    left: 0!important;
    width: 30%!important;
    margin-left: 0!important;
    height: 40px;
    line-height: 40px;
}
.three-section .next-btn {
    left: auto;
    right: 0;
}
.three-section .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #000;
    text-align: center;
}
.mod-list {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 10px;
    margin-top: -220px;
}
.mod-list li {
    float: left;
    width: 50%;
    padding: 10px;
    color: #fff;
    text-align: center;
}
.mod-list li label {
    display: block;
    width: 100px;
    margin: 0 auto;
}
.mod-list li label input[type="radio"] {
    display: none;
}
.mod-list li label input[type="radio"]:checked ~ p {
    color: #000;
}
.mod-list li label img {
    width: 100%;
    height: 100%;
}
.four-section {
    display: block;
    background-color: #fff;
}
.four-section form {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.four-section .img, .six-section .img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: url(img/mod.png) center center no-repeat;
    background-size: 100% 100%;
}
.four-section .file01, .four-section .file02 {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    background: url(img/view01.png) center center no-repeat;
    background-size: 50%;
}
.four-section .file01, #view, .six-section .view {
    width: 84px;
    height: 84px;
    margin-top: -66px;
    margin-left: -116px;
}
.four-section .file02, #view02, .six-section .view02 {
    width: 68px;
    height: 68px;
    margin-top: -152px;
    margin-left: 17px;
    background-image: url(img/view02.png);
    background-size: 100%;
}
.four-section a {
    left: 0!important;
    top: 0;
    bottom: auto;
    z-index: 5;
    margin-top: 0!important;
    margin-left: 0!important;
    width: 35%;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}
.four-section label img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.four-section label input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.four-section .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
}
.four-section .bottom input[type="text"] {
    width: 100px;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    outline: none;
    text-align: center;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.four-section .bottom p {
    margin-bottom: 10px;
}
.four-section .bottom button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 80px;
    height: 80px;
    border: none;
    background: url(img/ok-btn.png) center center no-repeat;
    background-size: 100% 100%;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    text-indent: -9999px;
}
#clipArea, #clipArea02 {
    display: none;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 8;
    background: #000;
}
#clipArea .txt, #clipArea02 .txt {
    position: absolute;
    bottom: 15%;
    left: 0;
    z-index: 99;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
#view, #view02, .six-section .view, .six-section .view02 {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
}
#clipBtn, #clipBtn02 {
    display: none;
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    background-color: #f95b9e;
}
#close {
    display: none;
    position: absolute;
    z-index: 9;
    left: 0;
    top: 0;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}
.photo-clip-area {
    border: 2px solid #f95b9e!important;
}
.five-section {
    background-color: #84033a;
}
.five-section img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 40px;
    margin: -25px 0 0 -100px;
}
.six-section {
    display: block;
}
.six-section .result {
    position: absolute;
    left: 0;
    bottom: 80px;
    z-index: 8;
    width: 70%;
    padding: 10px 20px;
    background: #f95b9e;
}
.six-section .result p {
    line-height: 24px;
    font-weight: bold;
    font-size: 13px;
    color: #333;
}
.six-section .result p strong {
    font-size: 20px;
}
.six-section .result img {
    width: 100%;
    margin-top: 5px;
}
.shadow {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}
.shadow img {
    width: 100%;
}
@media screen and (max-height: 480px) {
    .section a {
        margin-top: 180px;
    }
    .section, .four-section .img, .six-section .img {
        background-size: 300px auto !important;
    }
    .mod-list {
        margin-top: -180px;
    }
    .mod-list li label {
        width: 80px;
    }
    .four-section .file01, #view, .six-section .view {
        width: 70px;
        height: 70px;
        margin-top: -55px;
        margin-left: -105px;
    }
    .four-section .file02, #view02, .six-section .view02 {
        width: 54px;
        height: 54px;
        margin-top: -124px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 321px) and (max-width: 360px) {
    .section a {
        margin-top: 225px;
    }
    .section, .four-section .img, .six-section .img{
        background-size: 360px auto;
    }
    .four-section .file01, #view, .six-section .view {
        width: 82px;
        height: 82px;
        margin-top: -64px;
        margin-left: -125px;
    }
    .four-section .file02, #view02, .six-section .view02 {
        width: 64px;
        height: 64px;
        margin-top: -148px;
        margin-left: 24px;
    }
}
@media screen and (min-width: 361px) and (max-width: 375px) {
    .section a {
        margin-top: 236px;
    }
    .section, .four-section .img, .six-section .img {
        background-size: 375px auto;
    }
    .four-section .file01, #view, .six-section .view {
        width: 84px;
        height: 84px;
        margin-top: -65px;
        margin-left: -130px;
    }
    .four-section .file02, #view02, .six-section .view02 {
        width: 68px;
        height: 68px;
        margin-top: -155px;
        margin-left: 24px;
    }
}
@media screen and (min-width: 376px) and (max-width: 384px) {
    .section a {
        margin-top: 243px;
    }
    .section, .four-section .img, .six-section .img {
        background-size: 384px auto;
    }
    .four-section .file01, #view, .six-section .view {
        width: 90px;
        height: 90px;
        margin-top: -70px;
        margin-left: -135px;
    }
    .four-section .file02, #view02, .six-section .view02 {
        width: 68px;
        height: 68px;
        margin-top: -158px;
        margin-left: 26px;
    }
}
@media screen and (min-width: 385px) and (max-width: 400px) {
    .section a {
        margin-top: 255px;
    }
    .section, .four-section .img, .six-section .img {
        background-size: 400px auto;
    }
    .four-section .file01, #view, .six-section .view {
        width: 92px;
        height: 92px;
        margin-top: -72px;
        margin-left: -140px;
    }
    .four-section .file02, #view02, .six-section .view02 {
        width: 72px;
        height: 72px;
        margin-top: -165px;
        margin-left: 26px;
    }
}
@media screen and (min-width: 401px) and (max-width: 414px) {
    .section a {
        margin-top: 260px;
    }
    .section, .four-section .img, .six-section .img {
        background-size: 414px auto;
    }
    .four-section .file01, #view, .six-section .view {
        width: 98px;
        height: 98px;
        margin-top: -75px;
        margin-left: -146px;
    }
    .four-section .file02, #view02, .six-section .view02 {
        width: 74px;
        height: 74px;
        margin-top: -172px;
        margin-left: 27px;
    }
}
@media screen and (min-width: 415px) and (max-width: 424px) {
    .section a {
        margin-top: 270px;
    }
    .section, .four-section .img, .six-section .img {
        background-size: 424px auto;
    }
    .four-section .file01, #view, .six-section .view {
        width: 70px;
        height: 70px;
        margin-top: -55px;
        margin-left: -105px;
    }
    .four-section .file02, #view02, .six-section .view02 {
        width: 54px;
        height: 54px;
        margin-top: -130px;
        margin-left: 20px;
    }
}
@media screen and (min-width: 425px) {
    .section a {
        left: 50%;
        margin-top: 280px;
        width: 200px;
        margin-left: -100px;
    }
    .index-section a {
        margin-top: 330px;
    }
    .section, .four-section .img, .six-section .img {
        background-size: 440px auto;
    }
    .four-section .file01, #view, .six-section .view {
        width: 100px;
        height: 100px;
        margin-top: -78px;
        margin-left: -152px;
    }
    .four-section .file02, #view02, .six-section .view02 {
        width: 78px;
        height: 78px;
        margin-top: -180px;
        margin-left: 30px;
    }
}
