@charset "utf-8";
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;
}
body,div,p,blockquote,hr,ul,ol,li,h1,h2,h3,h4,h5,h6,menu,dd,dl,form,fieldset,input,button,textarea,caption,select,button,input,pre,hr,td,th,address,section,article,aside,header,footer,nav,dialog,figure,hgroup,label,span,strong,i,s,a {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
}
h1,h2,h3,h4,h5 {
    font-weight: normal;
}
em,i,strong {
    font-style: normal;
}
ul,ol,li {
    list-style: none;
}
img {
    border: none;
    vertical-align: middle;
}
input,select,textarea,button {
    border: none;
    font-size: 100%;
    outline: none;
    -webkit-appearance: none;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #333;
    text-decoration: none;
}

body, html {
    overflow: hidden;
    height: 100%;
    background: #000;
    font-size: 14px;
    color: #333;
}
#slider {
    position: relative;
    z-index: 1;
    height: 100%;
}
#slider .slider {
    position: relative;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    height: 100%;
}
.slider ul {
    height: 100%;
}
.slider ul li {
    float: left;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
}
.slider li:nth-of-type(1){
    background-color: #4b0006;
}
.slider li:nth-of-type(2){
    background-color: #001f3c;
}
.slider li:nth-of-type(3){
    background-color: #043667;
}
.slider li:nth-of-type(4){
    background-color: #202e4e;
}
.slider li a {
    display: block;
}
.slider li .img-thumb {
    position: relative;
    z-index: 2;
}
.slider li .img-thumb:before {
    display: block;
    content: "";
    padding-top: 170%;
}
.slider li .img-thumb img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
}
.slider li .play-btn {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}
.slider li .play-btn a {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 6;
    width: 60px;
    height: 60px;
    margin: -200px 0 0 -30px;
    background: url(img/christmas/icon-play.png) no-repeat;
    background-size: 100% 100%;
}
.slider li .video-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 6;
    width: 100%;
    /*background: -webkit-linear-gradient(bottom,rgba(0,0,0,1),rgba(255,255,255,0));
    background: linear-gradient(to top,rgba(0,0,0,1),rgba(255,255,255,0));*/
}
.slider li .video {
    position: relative;
    overflow: hidden;
    height: 200px;
    padding: 15px;
    margin: 0 20px 45px;
    background: rgba(255, 255, 255, .8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.video .img-thumb {
    float: left;
    width: 120px;
}
.video .img-thumb:before {
    padding-top: 140.7%!important;
}
.video .detail {
    padding-left: 135px;
}
.video .detail h3 {
    font-size: 16px;
    margin-bottom: 10px;
    overflow : hidden;
    display: -webkit-box;
    display: box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.video .detail .info {
    font-size: 14px;
    line-height: 24px;
    overflow : hidden;
    display: -webkit-box;
    display: box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.video .detail .stars {
    position: absolute;
    left: 150px;
    bottom: 15px;
    width: 0;
    height: 16px;
    background: url(img/christmas/icon-stars.png) no-repeat;
    background-size: auto 100%;
}
.video .detail .stars.stars1 {
    width: 20px;
}
.video .detail .stars.stars2 {
    width: 40px;
}
.video .detail .stars.stars3 {
    width: 60px;
}
.video .detail .stars.stars4 {
    width: 80px;
}
.video .detail .stars.stars5 {
    width: 100px;
}
.video-panel .video-con {
    height: 92px;
    padding: 10px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}
.video-panel .video-con p {
    overflow : hidden;
    display: -webkit-box;
    display: box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
#slider .dot {
    position: absolute;
    bottom: 100px;
    z-index: 999;
    width: 100%;
    height: 20px;
    line-height: 0;
    font-size: 0;
    text-align: center;
}
#slider .dot span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    background: url(img/christmas/dot.png) no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}
#slider .dot span.current {
    background-color: transparent;
    background-image: url(img/christmas/dot-current.png);
}
#sound {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 10;
    background: url(img/christmas/icon-music.png) center center no-repeat;
    background-size: 100% 100%;
}
#sound.pause {
    background-image: url(img/christmas/icon-music-pause.png);
}
#share {
    position: absolute;
    top: 15px;
    right: 60px;
    width: 30px;
    height: 30px;
    z-index: 10;
    background: url(img/christmas/icon-share.png) center center no-repeat;
    background-size: 26px 26px;
}
