<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>生活</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/life.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="body">
        <div id="slider">
            <div class="slider">
                <ul>
                    <li>
                        <div class="video-thumb">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img5.jpg"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="video-thumb">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img6.jpg"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="video-thumb">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img7.jpg"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="video-thumb">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img8.jpg"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="video-thumb">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img9.jpg"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="video-thumb">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img10.jpg"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="video-thumb">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img11.jpg"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="video-thumb">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img12.jpg"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dot">
            </div>
        </div>
        <div id="c-list">
            <!-- li内的 .icon-category 少于等于4个的时候，添加class: one-line
            <div class="c-list one-line">
                <ul>
                    <li>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-manhua.png"/>
                                <p>1漫画</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-read.png"/>
                                <p>小说</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-music.png"/>
                                <p>音乐</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-movie.png"/>
                                <p>视频</p>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="dot">
                </div>
            </div>
            -->
            <div class="c-list">
                <ul>
                    <li>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-manhua.png"/>
                                <p>1漫画</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-read.png"/>
                                <p>小说</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-music.png"/>
                                <p>音乐</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-movie.png"/>
                                <p>视频</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-manhua.png"/>
                                <p>1漫画</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-read.png"/>
                                <p>小说</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-music.png"/>
                                <p>音乐</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-movie.png"/>
                                <p>视频</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-manhua.png"/>
                                <p>2漫画</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-read.png"/>
                                <p>小说</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-music.png"/>
                                <p>音乐</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-movie.png"/>
                                <p>视频</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-manhua.png"/>
                                <p>2漫画</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-read.png"/>
                                <p>小说</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-music.png"/>
                                <p>音乐</p>
                            </a>
                        </div>
                        <div class="icon-category">
                            <a href="#">
                                <img class="video-img" src="../../../images/v1.50/icon-movie.png"/>
                                <p>视频</p>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="dot">
                </div>
            </div>
        </div>
    </div>
    <div class="mod tencent">
        <div class="mod-title">
            <h2>腾讯视频</h2>
            <a href="#"></a>
        </div>
        <div class="video">
            <a href="#">
                <img class="video-img" src="../../../images/v1.50/runningman.jpg"/>
            </a>
            <p class="video-time">1:17:32</p>
            <p class="video-title">《Running Man》</p>
            <p class="video-second-title">不良智孝降临狂虐光洙</p>
        </div>
        <div class="video">
            <a href="#">
                <img class="video-img" src="../../../images/v1.50/ohmybaby.jpg"/>
            </a>
            <p class="video-time">45:25</p>
            <p class="video-title">《Oh!My Baby》</p>
            <p class="video-second-title">双胞胎野外玩亲亲</p>
        </div>
        <div class="video">
            <a href="#">
                <img class="video-img" src="../../../images/v1.50/babahuilaile.jpg"/>
            </a>
            <p class="video-time">40:00</p>
            <p class="video-title">《爸爸回来了》</p>
            <p class="video-second-title">李晨“喜得子”</p>
        </div>
        <div class="video">
            <a href="#">
                <img class="video-img" src="../../../images/v1.50/benpaobaxiongdi.jpg"/>
            </a>
            <p class="video-time">1:31:42</p>
            <p class="video-title">《奔跑吧兄弟》</p>
            <p class="video-second-title">陈赫基抱李晨喂奶喝</p>
        </div>
    </div>
    <div class="mod book">
        <div class="mod-title">
            <h2>掌阅热门小说</h2>
            <a href="#"></a>
        </div>
        <ul class="book-list">
            <li>
                <a href="#">
                    <img src="../../../images/v1.50/book.jpg"/>
                    <p>做不抱怨的员工做不抱怨的员工</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../images/v1.50/book.jpg"/>
                    <p>做不抱怨的员</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../images/v1.50/book.jpg"/>
                    <p>做不抱怨的员工</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../images/v1.50/book.jpg"/>
                    <p>做不抱怨的员工</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../images/v1.50/book.jpg"/>
                    <p>做不抱怨的员工</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../images/v1.50/book.jpg"/>
                    <p>做不抱怨的员工</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="mod music">
        <div class="mod-title">
            <h2>发现好声音</h2>
            <a href="#"></a>
        </div>
        <div class="music-list">
            <a href="#">
                <div class="music-txt">
                    <p>人气排行榜</p>
                    TOP前十抢先看
                </div>
                <img src="../../../images/v1.50/eson.jpg"/>
            </a>
            <a href="#">
                <div class="music-txt female-singer">
                    <p>华语女歌手</p>
                    最佳人气女歌手
                </div>
                <img src="../../../images/v1.50/eson.jpg"/>
            </a>
            <a href="#">
                <div class="music-txt male-singer">
                    <p>华语男歌手</p>
                    最佳人气男歌手
                </div>
                <img src="../../../images/v1.50/eson.jpg"/>
            </a>
            <a href="#">
                <div class="music-txt best-mix">
                    <p>最佳组合</p>
                    猜猜哪个组合最佳
                </div>
                <img src="../../../images/v1.50/eson.jpg"/>
            </a>
        </div>
    </div>
    <div class="mod group-buying">
        <div class="mod-title">
            <h2>大众点评网</h2>
            <a href="#"></a>
        </div>
        <div class="buying-list">
            <a class="buying-big" href="#">
                <img src="../../../images/v1.50/dazhong.jpg"/>
                <div class="buying-txt">
                    <strong>泰坤祥和山庄</strong>
                    <i class="stars stars01"></i>
                    <span>1759人点评</span>
                </div>
            </a>
            <a href="#">
                <div class="buying-txt">
                    <strong>泰坤祥和山</strong>
                    <span>1759人点评</span>
                    <i class="stars stars02"></i>
                </div>
                <img src="../../../images/v1.50/dazhong.jpg"/>
            </a>
            <a href="#">
                <div class="buying-txt">
                    <strong>泰坤祥和山庄</strong>
                    <span>1759人点评</span>
                    <i class="stars stars03"></i>
                </div>
                <img src="../../../images/v1.50/dazhong.jpg"/>
            </a>
        </div>
    </div>
    <div class="mod hobby">
        <div class="mod-title">
            <h2>兴趣（商场）</h2>
        </div>
        <div class="hobby-up">
            <a href="http://m.dianping.com/shop/19287094" class="up-pro">
                <p>
                    精选超值美妆<br>
                    <strong>全场低至三折</strong>
                </p>
                <img src="../../../images/v1.50/beaut.jpg">
            </a>
            <a href="http://m.dianping.com/shop/1765576" class="up-pro">
                <p>
                    甄选大牌一折<br>
                    <strong>名品折扣专场</strong>
                </p>
                <img src="../../../images/v1.50/brand.jpg">
            </a>
        </div>
        <ul class="hobby-down">
            <li>
                <a href="http://m.dianping.com/shop/4121609">
                    <h3>adidas</h3>
                    <p class="shop-down1">全场三折</p>
                    <img class="hobby-img" src="../../../images/v1.50/adidas.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/4121599">
                    <h3>NIKE</h3>
                    <p class="shop-down2">满99送礼</p>
                    <img class="hobby-img" src="../../../images/v1.50/nike.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/4063060">
                    <h3>星巴克</h3>
                    <p class="shop-down3">买一赠一</p>
                    <img class="hobby-img" src="../../../images/v1.50/starbucks.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/3899104">
                    <h3>LEVIS</h3>
                    <p class="shop-down4">全场五折</p>
                    <img class="hobby-img" src="../../../images/v1.50/levis.jpg">
                </a>
            </li>
        </ul>
    </div>
    <div class="mod nearby">
        <div class="mod-title">
            <h2>附近（商场）</h2>
            <a href="http://m.dianping.com/shoplist/2/d/1/c/0/s/s_-1"></a>
        </div>
        <ul class="nearby-menu">
            <li class="selected">
                全部
            </li>
            <li>
                美食
            </li>
            <li>
                娱乐
            </li>
            <li>
                品牌店
            </li>
        </ul>
        <div class="nearby-tab">
            <ul>
                <li>
                    <a href="http://m.dianping.com/shop/2023267">
                        <img src="../../../images/v1.50/ms1.jpg">
                        <div>
                            <h3 class="shop-nameli">禾绿回转寿司（新中关店）</h3>
                            <p class="star star01"></p>
                            <span>人均<strong>￥74</strong></span>
                            <p class="address">日本菜 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/2025073">
                        <img src="../../../images/v1.50/ms2.jpg">
                        <div>
                            <h3 class="shop-nameli">味千拉面（新中关店）</h3>
                            <p class="star star02"></p>
                            <span>人均<strong>￥37</strong></span>
                            <p class="address">小吃 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/2637817">
                        <img src="../../../images/v1.50/ms3.jpg">
                        <div>
                            <h3 class="shop-nameli">味多美（海淀剧院店）</h3>
                            <p class="star star03"></p>
                            <span>人均<strong>￥37</strong></span>
                            <p class="address">甜点饮品 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/6041312">
                        <img src="../../../images/v1.50/ms4.jpg">
                        <div>
                            <h3 class="shop-nameli">乐食派麻辣香锅（新中关店）</h3>
                            <p class="star star04"></p>
                            <span>人均<strong>￥60</strong></span>
                            <p class="address">餐馆 B2层</p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.dianping.com/shop/2023267">
                        <img src="../../../images/v1.50/ms1.jpg">
                        <div>
                            <h3 class="shop-nameli">2禾绿回转寿司（新中关店）</h3>
                            <p class="star star01"></p>
                            <span>人均<strong>￥74</strong></span>
                            <p class="address">日本菜 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/2025073">
                        <img src="../../../images/v1.50/ms2.jpg">
                        <div>
                            <h3 class="shop-nameli">味千拉面（新中关店）</h3>
                            <p class="star star02"></p>
                            <span>人均<strong>￥37</strong></span>
                            <p class="address">小吃 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/2637817">
                        <img src="../../../images/v1.50/ms3.jpg">
                        <div>
                            <h3 class="shop-nameli">味多美（海淀剧院店）</h3>
                            <p class="star star03"></p>
                            <span>人均<strong>￥37</strong></span>
                            <p class="address">甜点饮品 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/6041312">
                        <img src="../../../images/v1.50/ms4.jpg">
                        <div>
                            <h3 class="shop-nameli">乐食派麻辣香锅（新中关店）</h3>
                            <p class="star star05"></p>
                            <span>人均<strong>￥60</strong></span>
                            <p class="address">餐馆 B2层</p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.dianping.com/shop/2023267">
                        <img src="../../../images/v1.50/ms1.jpg">
                        <div>
                            <h3 class="shop-nameli">3禾绿回转寿司（新中关店）</h3>
                            <p class="star star00"></p>
                            <span>人均<strong>￥74</strong></span>
                            <p class="address">日本菜 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/2025073">
                        <img src="../../../images/v1.50/ms2.jpg">
                        <div>
                            <h3 class="shop-nameli">味千拉面（新中关店）</h3>
                            <p class="star star01"></p>
                            <span>人均<strong>￥37</strong></span>
                            <p class="address">小吃 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/2637817">
                        <img src="../../../images/v1.50/ms3.jpg">
                        <div>
                            <h3 class="shop-nameli">味多美（海淀剧院店）</h3>
                            <p class="star star02"></p>
                            <span>人均<strong>￥37</strong></span>
                            <p class="address">甜点饮品 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/6041312">
                        <img src="../../../images/v1.50/ms4.jpg">
                        <div>
                            <h3 class="shop-nameli">乐食派麻辣香锅（新中关店）</h3>
                            <p class="star star03"></p>
                            <span>人均<strong>￥60</strong></span>
                            <p class="address">餐馆 B2层</p>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.dianping.com/shop/2023267">
                        <img src="../../../images/v1.50/ms1.jpg">
                        <div>
                            <h3 class="shop-nameli">4禾绿回转寿司（新中关店）</h3>
                            <p class="star star02"></p>
                            <span>人均<strong>￥74</strong></span>
                            <p class="address">日本菜 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/2025073">
                        <img src="../../../images/v1.50/ms2.jpg">
                        <div>
                            <h3 class="shop-nameli">味千拉面（新中关店）</h3>
                            <p class="star star03"></p>
                            <span>人均<strong>￥37</strong></span>
                            <p class="address">小吃 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/2637817">
                        <img src="../../../images/v1.50/ms3.jpg">
                        <div>
                            <h3 class="shop-nameli">味多美（海淀剧院店）</h3>
                            <p class="star star04"></p>
                            <span>人均<strong>￥37</strong></span>
                            <p class="address">甜点饮品 B2层</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/6041312">
                        <img src="../../../images/v1.50/ms4.jpg">
                        <div>
                            <h3 class="shop-nameli">乐食派麻辣香锅（新中关店）</h3>
                            <p class="star star05"></p>
                            <span>人均<strong>￥60</strong></span>
                            <p class="address">餐馆 B2层</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mod hobby">
        <div class="mod-title">
            <h2>兴趣(学校)</h2>
        </div>
        <div class="hobby-up">
            <a href="http://m.jd.com/ware/search.action?sid=7f67e7b4399bb825c7941e1457c86f98&keyword=学生用品&catelogyList=" class="up-img">
                <img src="../../../images/v1.50/school-up1.jpg">
            </a>
            <a href="http://m.jd.com/products/9987-6880-12360.html" class="up-img">
                <img src="../../../images/v1.50/school-up2.jpg">
            </a>
        </div>
        <ul class="hobby-down">
            <li>
                <a href="http://m.dianping.com/shop/13742538">
                    <h3>新东方</h3>
                    <p class="school-down1">名师考研</p>
                    <img class="hobby-img" src="../../../images/v1.50/xindongfang.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/5169808">
                    <h3>英孚英语</h3>
                    <p>自信说英语</p>
                    <img class="hobby-img" src="../../../images/v1.50/yingfu.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/1888414">
                    <h3>宝岛眼镜</h3>
                    <p class="school-down3">新品买一赠一</p>
                    <img class="hobby-img" src="../../../images/v1.50/baodao.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/14162424">
                    <h3>桌游吧</h3>
                    <p>共享欢乐时光</p>
                    <img class="hobby-img" src="../../../images/v1.50/zhuoyouba.jpg">
                </a>
            </li>
        </ul>
    </div>

    <div class="mod nearby">
        <div class="mod-title">
            <h2>附近（学校）</h2>
            <a href="http://m.dianping.com/shoplist/2/d/1/c/0/s/s_-1"></a>
        </div>
        <ul class="nearby-menu">
            <li class="selected">
                全部
            </li>
            <li>
                美食
            </li>
            <li>
                娱乐
            </li>
            <li>
                教育
            </li>
        </ul>
        <div class="nearby-tab">
            <ul>
                <li>
                    <a href="http://m.dianping.com/shop/21595582">
                        <img src="../../../images/v1.50/school1.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>肯德基（新中关店）</h3>
                            </div>
                            <p class="stars stars01"></p>
                            <p class="address">中关村 快餐简餐</p>
                            <span class="range">2.6km</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/4231482">
                        <img src="../../../images/v1.50/school2.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>肯德基（苏州街店）</h3>
                                <p class="icon cuxiao">促</p>
                            </div>
                            <p class="stars stars02"></p>
                            <span class="average">￥20/人</span>
                            <p class="address">苏州桥 快餐简餐</p>
                            <span class="range">2.6km</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/18249265">
                        <img src="../../../images/v1.50/school3.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>ZOO COFFEE（中央民族大学店）</h3>
                                <p class="icon tuangou">团</p>
                                <p class="icon tehui">惠</p>
                            </div>
                            <p class="stars stars03"></p>
                            <span class="average">￥42/人</span>
                            <span class="sale">7折起</span>
                            <p class="address">魏公村 咖啡厅</p>
                            <span class="range">410m</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/22517475">
                        <img src="../../../images/v1.50/school4.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>猫眼看咖啡</h3>
                                <p class="icon dingcan">订</p>
                                <p class="icon waimai">外</p>
                            </div>
                            <p class="stars stars04"></p>
                            <span class="average">￥40/人</span>
                            <span class="sale">7.5折起</span>
                            <p class="address">知春路 咖啡厅</p>
                            <span class="range">200m</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/3928675">
                        <img src="../../../images/v1.50/school5.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>新华国际影城（大钟寺店）</h3>
                                <p class="icon tuangou">团</p>
                                <p class="icon zuo">座</p>
                            </div>
                            <p class="stars stars05"></p>
                            <span class="average">￥39</span>
                            <span class="sale">3.3折起</span>
                            <p class="address">双榆树 电影院</p>
                            <span class="range">2.2km</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.dianping.com/shop/21595582">
                        <img src="../../../images/v1.50/school1.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>2肯德基（新中关店）</h3>
                            </div>
                            <p class="stars stars00"></p>
                            <p class="address">中关村 快餐简餐</p>
                            <span class="range">2.6km</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/4231482">
                        <img src="../../../images/v1.50/school2.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>肯德基（苏州街店）</h3>
                                <p class="icon cuxiao">促</p>
                            </div>
                            <p class="stars stars01"></p>
                            <span class="average">￥20/人</span>
                            <p class="address">苏州桥 快餐简餐</p>
                            <span class="range">2.6km</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/18249265">
                        <img src="../../../images/v1.50/school3.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>ZOO COFFEE（中央民族大学店）</h3>
                                <p class="icon tuangou">团</p>
                                <p class="icon tehui">惠</p>
                            </div>
                            <p class="stars stars02"></p>
                            <span class="average">￥42/人</span>
                            <span class="sale">7折起</span>
                            <p class="address">魏公村 咖啡厅</p>
                            <span class="range">410m</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/22517475">
                        <img src="../../../images/v1.50/school4.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>猫眼看咖啡</h3>
                                <p class="icon dingcan">订</p>
                                <p class="icon waimai">外</p>
                            </div>
                            <p class="stars stars03"></p>
                            <span class="average">￥40/人</span>
                            <span class="sale">7.5折起</span>
                            <p class="address">知春路 咖啡厅</p>
                            <span class="range">200m</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/3928675">
                        <img src="../../../images/v1.50/school5.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>新华国际影城（大钟寺店）</h3>
                                <p class="icon tuangou">团</p>
                                <p class="icon zuo">座</p>
                            </div>
                            <p class="stars stars04"></p>
                            <span class="average">￥39</span>
                            <span class="sale">3.3折起</span>
                            <p class="address">双榆树 电影院</p>
                            <span class="range">2.2km</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.dianping.com/shop/21595582">
                        <img src="../../../images/v1.50/school1.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>3肯德基（新中关店）</h3>
                            </div>
                            <p class="stars stars01"></p>
                            <p class="address">中关村 快餐简餐</p>
                            <span class="range">2.6km</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/4231482">
                        <img src="../../../images/v1.50/school2.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>肯德基（苏州街店）</h3>
                                <p class="icon cuxiao">促</p>
                            </div>
                            <p class="stars stars02"></p>
                            <span class="average">￥20/人</span>
                            <p class="address">苏州桥 快餐简餐</p>
                            <span class="range">2.6km</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/18249265">
                        <img src="../../../images/v1.50/school3.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>ZOO COFFEE（中央民族大学店）</h3>
                                <p class="icon tuangou">团</p>
                                <p class="icon tehui">惠</p>
                            </div>
                            <p class="stars stars03"></p>
                            <span class="average">￥42/人</span>
                            <span class="sale">7折起</span>
                            <p class="address">魏公村 咖啡厅</p>
                            <span class="range">410m</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/22517475">
                        <img src="../../../images/v1.50/school4.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>猫眼看咖啡</h3>
                                <p class="icon dingcan">订</p>
                                <p class="icon waimai">外</p>
                            </div>
                            <p class="stars stars04"></p>
                            <span class="average">￥40/人</span>
                            <span class="sale">7.5折起</span>
                            <p class="address">知春路 咖啡厅</p>
                            <span class="range">200m</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/3928675">
                        <img src="../../../images/v1.50/school5.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>新华国际影城（大钟寺店）</h3>
                                <p class="icon tuangou">团</p>
                                <p class="icon zuo">座</p>
                            </div>
                            <p class="stars stars05"></p>
                            <span class="average">￥39</span>
                            <span class="sale">3.3折起</span>
                            <p class="address">双榆树 电影院</p>
                            <span class="range">2.2km</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.dianping.com/shop/21595582">
                        <img src="../../../images/v1.50/school1.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>4肯德基（新中关店）</h3>
                            </div>
                            <p class="stars stars00"></p>
                            <p class="address">中关村 快餐简餐</p>
                            <span class="range">2.6km</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/4231482">
                        <img src="../../../images/v1.50/school2.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>肯德基（苏州街店）</h3>
                                <p class="icon cuxiao">促</p>
                            </div>
                            <p class="stars stars01"></p>
                            <span class="average">￥20/人</span>
                            <p class="address">苏州桥 快餐简餐</p>
                            <span class="range">2.6km</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/18249265">
                        <img src="../../../images/v1.50/school3.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>ZOO COFFEE（中央民族大学店）</h3>
                                <p class="icon tuangou">团</p>
                                <p class="icon tehui">惠</p>
                            </div>
                            <p class="stars stars02"></p>
                            <span class="average">￥42/人</span>
                            <span class="sale">7折起</span>
                            <p class="address">魏公村 咖啡厅</p>
                            <span class="range">410m</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/22517475">
                        <img src="../../../images/v1.50/school4.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>猫眼看咖啡</h3>
                                <p class="icon dingcan">订</p>
                                <p class="icon waimai">外</p>
                            </div>
                            <p class="stars stars03"></p>
                            <span class="average">￥40/人</span>
                            <span class="sale">7.5折起</span>
                            <p class="address">知春路 咖啡厅</p>
                            <span class="range">200m</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.dianping.com/shop/3928675">
                        <img src="../../../images/v1.50/school5.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>新华国际影城（大钟寺店）</h3>
                                <p class="icon tuangou">团</p>
                                <p class="icon zuo">座</p>
                            </div>
                            <p class="stars stars04"></p>
                            <span class="average">￥39</span>
                            <span class="sale">3.3折起</span>
                            <p class="address">双榆树 电影院</p>
                            <span class="range">2.2km</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mod hobby">
        <div class="mod-title">
            <h2>兴趣(默认)</h2>
        </div>
        <div class="hobby-up">
            <a href="http://m.dianping.com/shop/2503591" class="up-pro">
                <div class="hobby-title">
                    <h3>兰蔻<strong>满500减150</strong></h3>
                    <p>启动基金 遇见年轻</p>
                </div>
                <img class="life-up" src="../../../images/v1.50/moren-up1.jpg">
            </a>
            <a href="http://m.dianping.com/shop/5972680" class="up-pro">
                <div class="hobby-title">
                    <h3>匡威旗舰店</strong></h3>
                    <p>全场<strong>满300减50</strong></p>
                </div>
                <img class="life-up" src="../../../images/v1.50/moren-up2.jpg">
            </a>
        </div>
        <ul class="hobby-down">
            <li>
                <a href="http://m.dianping.com/shop/1916992">
                    <h3>欢乐谷</h3>
                    <p>0元抢门票</p>
                    <img class="hobby-img" src="../../../images/v1.50/life-down1.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/21319178">
                    <h3>万达影城</h3>
                    <p>全新上映</p>
                    <img class="hobby-img" src="../../../images/v1.50/life-down2.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/2802772">
                    <h3>希尔顿</h3>
                    <p>即可体验</p>
                    <img class="hobby-img" src="../../../images/v1.50/life-down3.jpg">
                </a>
            </li>
            <li>
                <a href="http://m.dianping.com/shop/2640067">
                    <h3>麦乐迪</h3>
                    <p>周五五折</p>
                    <img class="hobby-img" src="../../../images/v1.50/life-down4.jpg">
                </a>
            </li>
        </ul>
    </div>
    <div class="mod nearby">
        <div class="mod-title">
            <h2>附近（默认）</h2>
            <a href="http://m.dianping.com/shoplist/2/d/1/c/0/s/s_-1"></a>
        </div>
        <ul class="nearby-menu">
            <li class="selected">
                全部
            </li>
            <li>
                美食
            </li>
            <li>
                娱乐
            </li>
            <li>
                酒店
            </li>
        </ul>
        <div class="nearby-tab">
            <ul>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A81F9M">
                        <img src="../../../images/v1.50/moren1.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>李先生（北京魏公村餐厅）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss01"></p>
                            <span class="average">人均：<strong>￥27</strong></span>
                            <p class="address">快餐厅</p>
                            <span class="range">95米</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A834B1">
                        <img src="../../../images/v1.50/moren2.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>家乐福（中关村广场店）</h3>
                            </div>
                            <p class="starss starss02"></p>
                            <p class="address">家乐福</p>
                            <span class="range">2.5公里</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A8VW48">
                        <img src="../../../images/v1.50/moren3.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>新华国际影城（大钟寺店）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss03"></p>
                            <span class="average">人均：<strong>￥30</strong></span>
                            <p class="address">电影院</p>
                            <span class="range">2.3公里</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A81BNJ">
                        <img src="../../../images/v1.50/moren4.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>嘉和一品粥（魏公村店）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss04"></p>
                            <span class="average">人均：<strong>￥27</strong></span>
                            <p class="address">特色餐厅</p>
                            <span class="range">136米</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A81F9M">
                        <img src="../../../images/v1.50/moren1.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>2李先生（北京魏公村餐厅）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss00"></p>
                            <span class="average">人均：<strong>￥27</strong></span>
                            <p class="address">快餐厅</p>
                            <span class="range">95米</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A834B1">
                        <img src="../../../images/v1.50/moren2.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>家乐福（中关村广场店）</h3>
                            </div>
                            <p class="starss starss01"></p>
                            <p class="address">家乐福</p>
                            <span class="range">2.5公里</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A8VW48">
                        <img src="../../../images/v1.50/moren3.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>新华国际影城（大钟寺店）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss02"></p>
                            <span class="average">人均：<strong>￥30</strong></span>
                            <p class="address">电影院</p>
                            <span class="range">2.3公里</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A81BNJ">
                        <img src="../../../images/v1.50/moren4.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>嘉和一品粥（魏公村店）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss03"></p>
                            <span class="average">人均：<strong>￥27</strong></span>
                            <p class="address">特色餐厅</p>
                            <span class="range">136米</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A81F9M">
                        <img src="../../../images/v1.50/moren1.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>3李先生（北京魏公村餐厅）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss02"></p>
                            <span class="average">人均：<strong>￥27</strong></span>
                            <p class="address">快餐厅</p>
                            <span class="range">95米</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A834B1">
                        <img src="../../../images/v1.50/moren2.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>家乐福（中关村广场店）</h3>
                            </div>
                            <p class="starss starss03"></p>
                            <p class="address">家乐福</p>
                            <span class="range">2.5公里</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A8VW48">
                        <img src="../../../images/v1.50/moren3.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>新华国际影城（大钟寺店）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss04"></p>
                            <span class="average">人均：<strong>￥30</strong></span>
                            <p class="address">电影院</p>
                            <span class="range">2.3公里</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A81BNJ">
                        <img src="../../../images/v1.50/moren4.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>嘉和一品粥（魏公村店）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss05"></p>
                            <span class="average">人均：<strong>￥27</strong></span>
                            <p class="address">特色餐厅</p>
                            <span class="range">136米</span>
                        </div>
                    </a>
                </li>
            </ul>
            <ul class="hidden">
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A81F9M">
                        <img src="../../../images/v1.50/moren1.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>4李先生（北京魏公村餐厅）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss01"></p>
                            <span class="average">人均：<strong>￥27</strong></span>
                            <p class="address">快餐厅</p>
                            <span class="range">95米</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A834B1">
                        <img src="../../../images/v1.50/moren2.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>家乐福（中关村广场店）</h3>
                            </div>
                            <p class="starss starss02"></p>
                            <p class="address">家乐福</p>
                            <span class="range">2.5公里</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A8VW48">
                        <img src="../../../images/v1.50/moren3.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>新华国际影城（大钟寺店）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss03"></p>
                            <span class="average">人均：<strong>￥30</strong></span>
                            <p class="address">电影院</p>
                            <span class="range">2.3公里</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="http://m.amap.com/detail/index/poiid=B000A81BNJ">
                        <img src="../../../images/v1.50/moren4.jpg">
                        <div>
                            <div class="shop-names">
                                <h3>嘉和一品粥（魏公村店）</h3>
                                <p class="icon life-tuangou">团</p>
                            </div>
                            <p class="starss starss04"></p>
                            <span class="average">人均：<strong>￥27</strong></span>
                            <p class="address">特色餐厅</p>
                            <span class="range">136米</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- 运营 start-->
    <iframe id="kedaxunfei" src="http://61.191.24.229:2041/KuYinPlusPhoneApp/sim/dc3e23f92afa5452/" frameborder="0" scrolling="no" style="display: block; height: 370px;"></iframe>
    <iframe id="zhangyue" src="http://ah2.zhangyue.com/zybook3/app/app.php?ca=Activity_Cbc.Index&amp;p2=116014&amp;p3=820003&amp;p5=14" frameborder="0" scrolling="no" style="display: block; height: 231px;"></iframe>
    <iframe id="doumi" src="http://www.doumi.cn/xiaomingTest/ZGIndex/index" frameborder="0" scrolling="no" style="display: block; height: 253px;"></iframe>

    <script data-main="../../../js/v1.50/build/common.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
</body>
</html>