<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>列表页</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/list.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="ad">
        <a href="#"><img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/ad.jpg"/></a>
    </div>
    <div class="mod">
        <ul class="col-list" id="content">
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>1高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>2高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>3高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>4高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>5高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>6高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>7高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>8高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>9高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>10高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
        <div class="more" id="morepage">
            <div class="loading"><i></i>加载中...</div>
            <a href="javascript:;">向上拖动获取更多</a>
        </div>
    </div>
    <script>
        var pager = {
            base: '',
            res: '',
            param: '?v=6.3.10.0&apiSkin=&rfrom=pnlk_bh2t_4038',
            url:'http://localhost/cbc-client/android/js/v1.50/tpl/data.json',
            size: '5',
            count: +"5",
            current: +"2" || 1
        };
    </script>
    <script data-main="../../../js/v1.50/build/list.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
</body>
</html>