<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <meta id="video" content="9053|liveurl|http://cbc-stor.dopool.com/live101/index_128k.m3u8|http://cbc-stor.dopool.com/imgdata/pindaotu/1423031574_54d1bd168fc29_image.jpg|CCTV1"/>
    <title>直播页</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/live.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="video-thumb video-panel">
        <a href="#">
            <i></i>
            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
        </a>
    </div>
    <div class="tv-title">
        <h2 class="live">
            于无声处（7）
        </h2>
        <div class="operates">
            <a class="icon-favor active" id="favor" href="javascript:;">收藏</a>
            <a class="icon-share" href="#">分享</a>
        </div>
    </div>
    <div class="partner-ad">
        <a href="#"><img src="../../../images/v1.50/ad1.jpg"/></a>
    </div>
    <div class="mod live-video">
        <div class="live-items" id="iScrollLive">
            <ul>
                <li>
                    <div class="video-thumb">
                        <a href="cbchot:videoDetails|/android/detail/liveurl/9050">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/live01.png"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="cbchot:videoDetails|/android/detail/liveurl/9051">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/live01.png"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="cbchot:videoDetails|/android/detail/liveurl/9052">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/live01.png"/>
                        </a>
                    </div>
                </li>
                <li class="selected">
                    <div class="video-thumb">
                        <a href="cbchot:videoDetails|/android/detail/liveurl/9053">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/live01.png"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="cbchot:videoDetails|/android/detail/liveurl/9054">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/live02.png"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="cbchot:videoDetails|/android/detail/liveurl/9055">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/live01.png"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="cbchot:videoDetails|/android/detail/liveurl/9056">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/live02.png"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ul id="tab-title-week">
        <li class="selected">周一</li>
        <li>周二</li>
        <li>周三</li>
        <li>周四</li>
        <li>周五</li>
        <li>周六</li>
        <li>周日</li>
    </ul>
    <div id="tab-content-week">
        <ul>
            <li>
                <strong>19:40</strong>
                第一动画乐园：喜羊羊与灰太狼之妈妈乐疯狂
            </li>
            <li>
                <strong>20:40</strong>
                于无声处（9）
            </li>
            <li>
                <strong>22:40</strong>
                生活帮
            </li>
            <li>
                <strong>23:12</strong>
                大揭秘
            </li>
        </ul>
        <ul class="hidden">
            <li>
                <strong>19:40</strong>
                于无声处（8）
            </li>
            <li>
                <strong>20:40</strong>
                于无声处（9）
            </li>
            <li>
                <strong>22:40</strong>
                生活帮
            </li>
            <li>
                <strong>23:12</strong>
                大揭秘
            </li>
        </ul>
        <ul class="hidden">
            <li>
                <strong>19:40</strong>
                于无声处（8）
            </li>
            <li>
                <strong>20:40</strong>
                于无声处（9）
            </li>
            <li>
                <strong>22:40</strong>
                生活帮
            </li>
            <li>
                <strong>23:12</strong>
                大揭秘
            </li>
        </ul>
        <ul class="hidden">
            <li>
                <strong>19:40</strong>
                于无声处（8）
            </li>
            <li>
                <strong>20:40</strong>
                于无声处（9）
            </li>
            <li>
                <strong>22:40</strong>
                生活帮生活帮生活帮生活帮生活帮生活帮生活帮生活帮生活帮生活帮生活帮
            </li>
            <li>
                <strong>23:12</strong>
                大揭秘
            </li>
        </ul>
        <ul class="hidden">
            <li>
                <strong>19:40</strong>
                于无声处（8）
            </li>
            <li>
                <strong>20:40</strong>
                于无声处（9）
            </li>
            <li>
                <strong>22:40</strong>
                生活帮
            </li>
            <li>
                <strong>23:12</strong>
                大揭秘
            </li>
        </ul>
        <ul class="hidden">
            <li>
                <strong>19:40</strong>
                于无声处（8）
            </li>
            <li>
                <strong>20:40</strong>
                于无声处（9）
            </li>
            <li>
                <strong>22:40</strong>
                生活帮
            </li>
            <li>
                <strong>23:12</strong>
                大揭秘
            </li>
        </ul>
        <ul class="hidden">
            <li>
                <strong>19:40</strong>
                于无声处（8）
            </li>
            <li>
                <strong>20:40</strong>
                于无声处（9）
            </li>
            <li>
                <strong>22:40</strong>
                生活帮
            </li>
            <li>
                <strong>23:12</strong>
                大揭秘
            </li>
        </ul>
    </div>
    <div id="win"></div>
    <script data-main="../../../js/v1.50/build/detail.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
    <script src="../../../js/v1.50/build/favorite.js?v=$VERSION"></script>
</body>
</html>