<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>电影页</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/live.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="video-thumb video-panel">
        <a href="#">
            <i></i>
            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
        </a>
    </div>
    <div class="tv-title">
        <h2>重返20岁</h2>
        <div class="operates">
            <a class="icon-download" href="javascript:;">下载</a>
            <a class="icon-favor" id="favor" href="javascript:;">收藏</a>
            <a class="icon-share" href="javascript:;">分享</a>
        </div>
    </div>
    <div class="partner-ad">
        <a href="#"><img src="../../../images/v1.50/ad2.jpg"/></a>
    </div>
    <div class="level video-detail">
        <div class="shade">
            <div class="video-title">
                主演：杨子姗，归亚蕾，陈柏霖，鹿晗，王德顺<br>
                类型：喜剧<br>
                导演：陈正道<br>
                地区：大陆<br>
                上映日期：2015-1-5<br>
                简介：坏脾气的老奶奶沈梦君（归亚蕾饰），除了前管家李大海（王德顺饰）之外，没有人喜欢她，连媳妇杨琴（李宜娟饰）也因与她同住一个屋檐下压力过大而住院，家人们毅然决然地决定送沈梦君去住养老院。沈梦君伤心之际路过照相馆，想留下最后的身影，没想到这一拍竟将沈梦君的外貌变成了20岁的年轻少女孟丽君（杨子姗饰），随之而来的奇怪际遇不但让她加入了乐团当主唱，更引发音乐总监谭子明（陈柏霖饰）与乐团吉他手项前进（鹿晗饰）的争锋吃醋，她再一次有了“恋爱的感觉”；而就在她开始尝到“再年轻一次”的甜头时，却因一场意外而面临了重大抉择，她该留在20岁的外貌继续享受人生，还是回到70岁的老奶奶面对迟暮生活？<br>
            </div>
        </div>
        <p class="btn"></p>
    </div>
    <div class="mod">
        <div class="mod-title">
            <h2>热门视频</h2>
        </div>
        <ul class="col-list">
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖</h4>
                            <strong>01:30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>130:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div id="win"></div>
    <script data-main="../../../js/v1.50/build/detail.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
    <script src="../../../js/v1.50/build/favorite.js?v=$VERSION"></script>
</body>
</html>