<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>我</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/myself.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="user">
        <a href="#">
            <div class="user-head">
                <div class="head-img">
                    <img src="../../../images/v1.50/touxiang.jpg"/>
                </div>
            </div>
            <div class="user-info">
                <p>无言</p>
                <p class="level">等级:
                    <img src="../../../images/v1.50/star.png"/>
                    <img src="../../../images/v1.50/star.png"/>
                    <img src="../../../images/v1.50/star.png"/>
                </p>
                <p class="vip">积分: 1000</p>
            </div>
        </a>
    </div>
    <div class="box">
        <a href="#"><img class="icon" src="../../../images/v1.50/icon-manhua.png">我的漫画</a>
        <a href="#"><img class="icon" src="../../../images/v1.50/icon-movie.png">我的电影</a>
        <a class="box-money" href="#">我的理财</a>
        <a class="box-movie" href="#">我的视频</a>
        <a class="box-life" href="#">我的生活</a>
        <a class="box-book" href="#">我的书籍</a>
        <a class="box-music" href="#">我的音乐</a>
        <a class="box-pay" href="#">购买记录</a>
    </div>
    <div class="box">
        <a class="box-config" href="http://www.video.com">设置</a>
    </div>
</body>
</html>