<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>导航</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/navigation.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div id="slider">
        <div class="slider">
            <ul>
                <li>
                    <div class="video-thumb">
                        <a href="#">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img1.jpg"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="#">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img2.jpg"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="#">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img3.jpg"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="#">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img4.jpg"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="#">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img1.jpg"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="#">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img2.jpg"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="#">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img3.jpg"/>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="video-thumb">
                        <a href="#">
                            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/img4.jpg"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="dot">
        </div>
    </div>
    <ul class="nav">
        <li>
            <a href="http://3g.sina.com.cn/?cbc_title=新浪">
                <img src="../../../images/v1.50/sina-icon.png"/>
                <p>新浪</p>
            </a>
        </li><li>
        <a href="http://m.baidu.com/?cbc_title=百度">
            <img src="../../../images/v1.50/baidu-icon.png"/>
            <p>百度</p>
        </a>
    </li><li>
        <a href="http://m.taobao.com/?cbc_title=淘宝">
            <img src="../../../images/v1.50/taobao-icon.png"/>
            <p>淘宝</p>
        </a>
    </li>
        <li>
            <a href="http://www.amazon.cn/?cbc_title=亚马逊">
                <img src="../../../images/v1.50/yamaxun-icon.png"/>
                <p>亚马逊</p>
            </a>
        </li>
        <li>
            <a href="http://3g.ganji.com/?cbc_title=赶集">
                <img src="../../../images/v1.50/ganji-icon.png"/>
                <p>赶集</p>
            </a>
        </li>
        <li>
            <a href="http://m.58.com/?cbc_title=同城">
                <img src="../../../images/v1.50/58-icon.png"/>
                <p>同城</p>
            </a>
        </li>
        <li>
            <a href="http://i.meituan.com/?cbc_title=美团网">
                <img src="../../../images/v1.50/meituan-icon.png"/>
                <p>美团网</p>
            </a>
        </li>
        <li>
            <a href="http://m.dangdang.com/?cbc_title=当当">
                <img src="../../../images/v1.50/dangdang-icon.png"/>
                <p>当当</p>
            </a>
        </li>
        <li>
            <a href="http://www.youku.com/?cbc_title=优酷">
                <img src="../../../images/v1.50/youku-icon.png"/>
                <p>优酷</p>
            </a>
        </li>
        <li>
            <a href="http://touch.youyuan.com/?cbc_title=有缘网">
                <img src="../../../images/v1.50/youyuan-icon.png"/>
                <p>有缘网</p>
            </a>
        </li>
    </ul>
    <div class="menu navigation-title">
        <h2>常用网站</h2>
    </div>
    <ul class="navigation-ul">
        <li>
            <a href="http://wap.eastmoney.com/?cbc_title=东方财富">东方财富</a>
        </li>
        <li>
            <a href="http://www.alitrip.com/?cbc_title=淘宝旅行">淘宝旅行</a>
        </li>
        <li>
            <a href="http://m.ctrip.com/?cbc_title=携程网">携程网</a>
        </li>
        <li>
            <a href="http://m.jd.com/?cbc_title=京东商城">京东商城</a>
        </li>
        <li>
            <a href="http://m.vip.com/?cbc_title=唯品会">唯品会</a>
        </li>
        <li>
            <a href="http://m.gome.com.cn/?cbc_title=国美在线">国美在线</a>
        </li>
        <li>
            <a href="http://www.amazon.cn/?cbc_title=亚马逊">亚马逊</a>
        </li>
        <li>
            <a href="http://m.meilishuo.com/?cbc_title=美丽说">美丽说</a>
        </li>
        <li>
            <a href="http://m.jumei.com/?cbc_title=聚美优品">聚美优品</a>
        </li>
        <li>
            <a href="http://m.tuniu.com/?cbc_title=途牛旅游">途牛旅游</a>
        </li>
        <li>
            <a href="http://m.tmall.com/?cbc_title=天猫">天猫</a>
        </li>
        <li>
            <a href="http://a.xcar.com.cn/?cbc_title=爱卡汽车">爱卡汽车</a>
        </li>
        <li>
            <a href="http://m.suning.com/?cbc_title=苏宁易购">苏宁易购</a>
        </li>
        <li>
            <a href="http://m.dangdang.com/?cbc_title=当当网">当当网</a>
        </li>
        <li>
            <a href="http://m.fang.com/?cbc_title=搜房网">搜房网</a>
        </li>
        <li>
            <a href="http://m.58.com/?cbc_title=58同城">58同城</a>
        </li>
    </ul>
    <div class="menu sort-title">
        <h2>热门分类</h2>
    </div>
    <ul class="sort-ul">
        <li>
            <p>新闻</p>
        </li>
        <li>
            <a href="http://news.sina.cn?cbc_title=新浪新闻">新浪新闻</a>
        </li>
        <li>
            <a href="http://m.sohu.com?cbc_title=搜狐新闻">搜狐新闻</a>
        </li>
        <li>
            <a href="http://m.cctv.com?cbc_title=CNTV">CNTV</a>
        </li>
        <li>
            <a href="http://m.huanqiu.com?cbc_title=环球网">环球网</a>
        </li>
        <li>
            <a href="http://wap.baidu.com/news?cbc_title=百度新闻">百度新闻</a>
        </li>
        <li>
            <p>军事</p>
        </li>
        <li>
            <a href="http://i.ifeng.com/mil/mili?cbc_title=凤凰">凤凰</a>
        </li>
        <li>
            <a href="http://m.tiexue.net?cbc_title=铁血">铁血</a>
        </li>
        <li>
            <a href="http://m.xilu.com?cbc_title=西陆">西陆</a>
        </li>
        <li>
            <a href="http://wap.huanqiu.com/pd.html?id=23&cbc_title=环球">环球</a>
        </li>
        <li>
            <a href="http://m.news.cn/html/channel-35.html?cbc_title=新华">新华</a>
        </li>
        <li>
            <p>体育</p>
        </li>
        <li>
            <a href="http://sports.sina.cn/?cbc_title=新浪">新浪</a>
        </li>
        <li>
            <a href="http://m.china.nba.com/?cbc_title=NBA">NBA</a>
        </li>
        <li>
            <a href="http://m.sohu.com/c/3/?_once_=000025_top_tiyu_v3&cbc_title=搜狐">搜狐</a>
        </li>
        <li>
            <a href="http://m.hupu.com?cbc_title=虎扑">虎扑</a>
        </li>
        <li>
            <a href="http://info.3g.qq.com/?cbc_title=腾讯">腾讯</a>
        </li>
        <li>
            <p>直播</p>
        </li>
        <li>
            <a href="http://m.zhibo8.cc?cbc_title=直播吧">直播吧</a>
        </li>
        <li>
            <a href="http://zhibo.m.sohu.com/?cbc_title=搜狐">搜狐</a>
        </li>
        <li>
            <a href="http://m.azhibo.com/?cbc_title=爱直播">爱直播</a>
        </li>
        <li>
            <a href="http://sports.cntv.cn/live/cctv5/index.shtml?cbc_title=CCTV5">CCTV5</a>
        </li>
        <li>
            <a href="http://video.sina.com.cn/l/pub?cbc_title=新浪">新浪</a>
        </li>
        <li>
            <p>汽车</p>
        </li>
        <li>
            <a href="http://m.yiche.com/?cbc_title=易车">易车</a>
        </li>
        <li>
            <a href="http://3g.163.com/touch/auto/?cbc_title=网易">网易</a>
        </li>
        <li>
            <a href="http://m.pcauto.com.cn/?cbc_title=太平洋车">太平洋车</a>
        </li>
        <li>
            <a href="http://m.recoda.com.cn/?cbc_title=3G汽车">3G汽车</a>
        </li>
        <li>
            <a href="http://a.xcar.com.cn/?cbc_title=爱卡汽车">爱卡汽车</a>
        </li>
        <li>
            <p>科技</p>
        </li>
        <li>
            <a href="http://g.pconline.com.cn/?cbc_title=太平洋">太平洋</a>
        </li>
        <li>
            <a href="http://m.it168.com/?cbc_title=IT168">IT168</a>
        </li>
        <li>
            <a href="http://m.zol.com.cn/?cbc_title=ZOL">ZOL</a>
        </li>
        <li>
            <a href="http://m.pchome.net/?cbc_title=电脑之家">电脑之家</a>
        </li>
        <li>
            <a href="http://m.chinabyte.com/?cbc_title=比特网">比特网</a>
        </li>
    </ul>
<script data-main="../../../js/v1.50/build/common.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
</body>
</html>
