<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>未登录</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/myself.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="prompt">
        <p><img src="../../../images/v1.50/nologin.png" width="100"/></p>
        <p>账号验证失败，请重新登录！</p>
        <a class="btn" href="#">登录</a>
    </div>
</body>
</html>