<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>支付结果确认中…</title>
    <link href="../../../css/v1.50/pay.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="pay-result">
        <p class="icon icon-loading"></p>
        <h3>支付结果确认中…</h3>
        <p class="num">5</p>
    </div>
    <div class="paid-msg">
        <h3>温馨提示</h3>
        <p>1.支付结果确认中，请耐心等待！</p>
        <p>2.倒计时结束，若未成功跳转，请点击刷新！</p>
        <p>3.若无法获取支付结果，请加客服QQ群12345678处理。</p>
    </div>
    <a class="btn btn-disable" href="javascript:;">刷新</a>
    <script data-main="../../../js/v1.50/build/pay.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
</body>
</html>