<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>购买影片</title>
    <link href="../../../css/v1.50/pay.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="buy-id">购买账号：134245</div>
    <div class="video-thumb">
        <i class="icon-vip">付费</i>
        <img src="../../../images/v1.50/paid1.jpg">
    </div>
    <div class="introduction">
        <h3>速度与激情7</h3>
        <dl>
            <dt>导演：</dt>
            <dd>温子任</dd>
            <dt>演员：</dt>
            <dd>范迪塞尔 保罗沃 范迪塞尔 保罗沃 范迪塞尔 保罗沃 范迪塞尔 保罗沃</dd>
            <dt>年代：</dt>
            <dd>2015</dd>
            <dt>类型：</dt>
            <dd>动作</dd>
        </dl>
    </div>
    <div class="video-intro">故事开始于多米尼克和布莱恩各自的小队成员带着赦免令回到美国的一年之后。他们过着循规蹈矩的日子，家乡生活的感觉很好。然而他们都不知道，危险正在悄然接近，冷血的英国特勤杀手肖出现了。
        从东京的韩被残忍谋杀，到洛杉矶霍布斯的死里逃生，肖有条不紊地追杀着在上一部中干掉了欧文的团队成员，因为欧文是他的弟弟。
    </div>
    <div class="buy-btn">
        <a href="javascript:;">立即购买：￥3</a>
    </div>
    <div id="winBg"></div>
    <div class="pay-mode">
        <span id="close"></span>
        <p class="mode-title">请选择支付方式</p>
        <ul>
            <li>
                <label class="checked">
                    <img class="yinlian" src="../../../images/v1.50/icon-yinlian.png"/>
                    <p class="title">银联支付</p>
                    <input type="radio" name="paystyle" value="0">
                </label>
            </li>
            <li>
                <label>
                    <img src="../../../images/v1.50/icon-alipay.png"/>
                    <p class="title">支付宝</p>
                    <input type="radio" name="paystyle" value="1">
                </label>
            </li>
            <li>
                <label>
                    <img src="../../../images/v1.50/icon-weixin.png"/>
                    <p class="title">微信支付</p>
                    <input type="radio" name="paystyle" value="2">
                </label>
            </li>
        </ul>
        <div class="submit-btn">
            <a href="cbchot:cbc_pay|0|videoid视频id|videomoney视频价格|支付结果页" class="btns">确认支付：￥3</a>
        </div>
    </div>
    <script data-main="../../../js/v1.50/build/pay.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
</body>
</html>