<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>支付失败</title>
    <link href="../../../css/v1.50/pay.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="pay-result">
    <p class="icon icon-failure"></p>
    <h3>支付失败</h3>
</div>
<div class="paid-msg">
    <h3>温馨提示</h3>
    <p>1.支付失败！请重新购买</p>
    <p>2.如有更多问题，请联系客服QQ群12345678</p>
</div>
<a class="btn" href="#">确认</a>
</body>
</html>