<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>支付成功</title>
    <link href="../../../css/v1.50/pay.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="pay-result">
        <p class="icon"></p>
        <h3>恭喜您，支付成功</h3>
    </div>
    <div class="paid-msg">
        <h3>消费信息</h3>
        <p>速度与激情7</p>
        <p>已付金额：￥3</p>
        <p>购买时间：2015年10月20日 09:10</p>
        <p>购买账号：1324535</p>
    </div>
    <a class="btn" href="#">开始播放</a>
</body>
</html>