<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>专题页</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/special.css?v=$VERSION" rel="stylesheet" type="text/css"/>
    <style>
        /* 背景色*/
        body {
            background: #ba044a;
        }
    </style>
</head>
<body>
    <div class="banner">
        <img src="../../../images/v1.50/special/banner.jpg"/>
    </div>
    <div class="special-list">
        <ul>
            <li>
                <a href="special01.html"><img src="../../../images/v1.50/special/img01.jpg"/></a>
            </li>
            <li>
                <a href="special02.html"><img src="../../../images/v1.50/special/img02.jpg"/></a>
            </li>
            <li>
                <a href="special03.html"><img src="../../../images/v1.50/special/img03.jpg"/></a>
            </li>
            <li>
                <a href="special04.html"><img src="../../../images/v1.50/special/img04.jpg"/></a>
            </li>
            <li>
                <a href="special05.html"><img src="../../../images/v1.50/special/img05.jpg"/></a>
            </li>
        </ul>
    </div>
    <footer><img src="../../../images/v1.50/special/footer.png"/></footer>
</body>
</html>