<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>DC&漫威英雄圈</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/special.css?v=$VERSION" rel="stylesheet" type="text/css"/>
    <style>
        /* 背景色*/
        body {
            background: #110b2d;
        }
    </style>
</head>
<body>
    <div class="banner">
        <img src="../../../images/v1.50/special/banner01.jpg"/>
    </div>
    <div class="mod">
        <ul class="col-list">
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/22347?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/dianying/1431682934_5555bf76308b8_image.jpg"/>
                        <div class="video-title">
                            <h4>复仇者联盟</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/28479?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/dianying/1441882384_55f1611009a15_image.jpg"/>
                        <div class="video-title">
                            <h4>复仇者联盟2：奥创纪元</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/11293?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/dianying/1443147571_5604af3392046_image.jpg"/>
                        <div class="video-title">
                            <h4>钢铁侠</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/11294?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/old_data/gangtiexia2.jpg"/>
                        <div class="video-title">
                            <h4>钢铁侠2</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/11295?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/old_data/gangtiexia3.jpg"/>
                        <div class="video-title">
                            <h4>钢铁侠3</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/23422?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/dianying/1434336814_557e3e2e7ebe7_image.jpg"/>
                        <div class="video-title">
                            <h4>X战警</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/23422?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/dianying/1434079563_557a514beaf5b_image.jpg"/>
                        <div class="video-title">
                            <h4>X战警-第一战</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/23415?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/dianying/1433994179_557903c389f34_image.jpg"/>
                        <div class="video-title">
                            <h4>X战警2</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/23471?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/dianying/1433918245_5577db25c86a7_image.jpg"/>
                        <div class="video-title">
                            <h4>X战警3-背水一战</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="http://m.cbchot.com/detail/transcoded/11301?v=3.1.00.1.1">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="http://cbc-sdk-web.dopool.com/imgdata/old_data/1427101056_xzhanjing.jpg"/>
                        <div class="video-title">
                            <h4>X战警-逆转未来</h4>
                        </div>
                    </a>
                </div>
            </li>
    </div>
    <script data-main="../../../js/v1.50/build/common.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
</body>
</html>