<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>哈利波特特辑</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/special.css?v=$VERSION" rel="stylesheet" type="text/css"/>
    <style>
        /* 背景色*/
        body {
            background: #122c3d;
        }
    </style>
</head>
<body>
    <div class="banner">
        <img src="../../../images/v1.50/special/banner05.jpg"/>
    </div>
    <div class="mod">
        <ul class="col-list">
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <script data-main="../../../js/v1.50/build/common.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
</body>
</html>