<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>多剧集播放页</title>
    <link rel="shortcut icon" href="../../../images/favicon.ico" type="image/x-icon"/>
    <link href="../../../css/v1.50/live.css?v=$VERSION" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="video-thumb video-panel">
        <a href="#">
            <i></i>
            <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video1.jpg"/>
        </a>
    </div>
    <div class="tv-title">
        <h2>于无声处</h2>
        <div class="operates">
            <a class="icon-download" href="javascript:;">下载</a>
            <a class="icon-favor active" id="favor" href="javascript:;">收藏</a>
            <a class="icon-share" href="javascript:;">分享</a>
        </div>
    </div>
    <div class="partner-ad">
        <a href="#"><img src="../../../images/v1.50/ad3.jpg"/></a>
    </div>
    <div class="level video-detail">
        <div class="shade">
            <div class="video-title">
                主演：胡军，左小青，赵立新，刘交心<br>
                类型：剧情，军事，悬疑，言情<br>
                导演：陈正道<br>
                地区：大陆<br>
                上映日期：2015-1-5<br>
                简介：1984年，“蓝鱼”号核潜艇研制的紧要关头发生重大国际泄密案，年轻的国安侦察员马东思维敏捷、桀骜不驯，奉命以保卫干事的身份潜入军工202厂暗中调查，与间谍玩了一出惊心动魄的“猫鼠游戏”。在这过程中，马东爱上工程师冯书雅，却因任务需要故作冷漠放弃这段爱情，并撮合好友陈其乾与她的婚姻。经过抽丝剥茧的排查，马东一举破获间谍组织立下大功，陈其乾却不幸遇害，此时冯书雅已有他的遗腹子。马东十分内疚，为了心中真爱决定保护母子俩，他放弃升迁机会成为真正的保卫干事，与冯书雅冰释前嫌组成幸福家庭。三十年后，冯书雅成为总工程师，负责航母研发，儿子却突然携女友留学回国，怪事连连、迷雾重重。虽然已是普通人，但凭着老牌侦察员的敏锐，马东判断这是一场更加严峻的间谍案，他义不容辞加入这场“安全之战”，一如三十年前。<br>
            </div>
        </div>
        <p class="btn"></p>
    </div>
    <div class="level">
        <div class="level-title">
            <h4>选集</h4>
            <p>共34集</p>
        </div>
        <div class="live-items" id="iScroll">
            <ul id="tab-title">
                <li class="selected">1-10</li>
                <li>11-20</li>
                <li>21-30</li>
                <li>31-40</li>
                <li>41-50</li>
                <li>51-60</li>
            </ul>
        </div>
        <div id="tab-content">
            <ul>
                <li class="selected"><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="1|蜡笔小新01">1</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="2|蜡笔小新01">2</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="3|蜡笔小新01">3</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="4|蜡笔小新01">4</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="5|蜡笔小新01">5</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="6|蜡笔小新01">6</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="7|蜡笔小新01">7</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="8|蜡笔小新01">8</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="9|蜡笔小新01">9</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="10|蜡笔小新01">10</a></li>
            </ul>
            <ul class="hidden">
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="11|蜡笔小新01">11</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="12|蜡笔小新01">12</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="13|蜡笔小新01">13</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="14|蜡笔小新01">14</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="15|蜡笔小新01">15</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="16|蜡笔小新01">16</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="17|蜡笔小新01">17</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="18|蜡笔小新01">18</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="19|蜡笔小新01">19</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="20|蜡笔小新01">20</a></li>
            </ul>
            <ul class="hidden">
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="21|蜡笔小新01">21</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="22|蜡笔小新01">22</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="23|蜡笔小新01">23</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="24|蜡笔小新01">24</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="25|蜡笔小新01">25</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="26|蜡笔小新01">26</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="27|蜡笔小新01">27</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">28</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">29</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">30</a></li>
            </ul>
            <ul class="hidden">
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">31</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">32</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">33</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">34</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">35</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">36</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">37</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">38</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">39</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">40</a></li>
            </ul>
            <ul class="hidden">
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">41</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">42</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">43</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">44</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">45</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">46</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">47</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">48</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">49</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">50</a></li>
            </ul>
            <ul class="hidden">
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">51</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">52</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">53</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">54</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">55</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">56</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">57</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">58</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">59</a></li>
                <li><a href="cbchot:videoDetails|/android/detail/series/18763" data-detail="01|蜡笔小新01">60</a></li>
            </ul>
        </div>
    </div>
    <div class="mod">
        <div class="mod-title">
            <h2>热门视频</h2>
        </div>
        <ul class="col-list">
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖高能综艺咖</h4>
                            <strong>01:30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>130:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <div class="video-thumb">
                    <a href="#">
                        <img class="video-img" src="../../../images/v1.50/default.png" data-src="../../../images/v1.50/video2.jpg"/>
                        <div class="video-title">
                            <h4>高能综艺咖</h4>
                            <strong>30:20</strong>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div id="win"></div>
    <script data-main="../../../js/v1.50/build/detail.js?v=$VERSION" src="../../../js/v1.50/build/require.js?v=$VERSION"></script>
    <script src="../../../js/v1.50/build/favorite.js?v=$VERSION"></script>
</body>
</html>